version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8003:80"
    environment:
      - FLAG=PwnLabs{r3d1r3ct_w1th0ut_3x1t_1s_d4ng3r0us}
    volumes:
      - ./www:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    restart: unless-stopped
